async-timeout==3.0.1
attrs==21.4.0
chardet==4.0.0
colorama==0.4.4
colored==1.4.3
discord==1.7.3
discord-py-interactions==3.0.2
discord-py-slash-command==3.0.3
discord.py==1.7.3
numpy==1.21.5
pylint==2.13.5
to==0.3
tomli==2.0.1
torch==1.11.0
typed-ast==1.5.2
typing_extensions==4.1.1
wcwidth==0.2.5

